<!-- Modal Overlay -->
<div class="modal-overlay" id="carPopup" style="display: none">
  <!-- Modal Popup -->
  <div class="modal-content">
    <div id="popupContent"></div>
  </div>
</div>

<div class="car-popup-top"></div>
<div class="car-popup-mid"></div>

<img src="${car.image_url}" style="width: 100%" />
<img src="https://flagcdn.com/24x18/${car.country}.png" />
<h4>${car.man_name}</h4>
<h4>${car.class_name}</h4>
<h2>${car.model}</h2>
<p>Price: $${car.price}</p>
<p>Class: ${car.class_name}</p>
<p>Engine Power: ${car.engine_power} HP</p>
<p>Weight: ${car.weight} kg</p>
<p>Doors: ${car.doors}</p>
<p>Drive Type: ${car.drive_type}</p>
<p>Top Speed: ${car.top_speed} km/h</p>
<p>Lap Time: ${car.lap_time} s</p>
<p>Drag Coefficient: ${car.drag_coefficient}</p>
<p>Brake Force: ${car.brake_force}</p>
