<h1>Manufacturers</h1>
<p><a href="/">Back to Home</a></p>
<ul>
  <% manufacturers.forEach(manufacturer => { %>
  <li>
    <a href="/manufacturers/<%= manufacturer.id %>"><%= manufacturer.name %></a>
  </li>
  <% }) %>
</ul>
<a href="/manufacturers/new">Add New Manufacturer</a>
