<%- include('../partials/header') %>

<div class="all-cars-header">
  <h2 style="text-transform: uppercase">All Cars</h2>
  <button class="light" onclick="openCarModal()">+ Add Car</button>
</div>

<div class="grid-container">
  <div class="grid">
    <% cars.forEach(car => { %> <%- include('../partials/car-card', { car: car
    })%> <% }) %>
  </div>
</div>

<!-- Car Popup container -->
<%- include('../partials/car-popup') %>

<!-- Car Modal -->
<%- include('./modal') %>
