<%- include('../partials/header') %>

<div id="bg-image" class="bg-image"></div>
<div class="classes-container">
  <h2 class="class-header">Classes</h2>
  <div class="class-buttons">
    <% classes.forEach(cls => { %>
    <a href="/classes/<%= cls.id %>">
      <button class="glass"><%= cls.name %></button>
    </a>
    <% }) %>
  </div>
  <button class="glass" onclick="openClassModal()">+ Add Class</button>
</div>

<!-- Class Modal -->
<div id="classModal" class="modal-overlay">
  <div class="modal-content">
    <div class="form-content">
      <span onclick="closeClassModal()" class="close">&times;</span>
      <h2>Add Class</h2>
      <form method="POST" action="/classes">
        <label
          >Name (e.g. A, B, S):
          <input type="text" name="name" required />
        </label>
        <label>Description: <textarea name="description"></textarea></label>
        <button type="submit">Add</button>
      </form>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
