<h1>Classes</h1>
<p><a href="/">Back to Home</a></p>
<ul>
  <% classes.forEach(classItem => { %>
  <li><a href="/classes/<%= classItem.id %>"><%= classItem.name %></a></li>
  <% }) %>
</ul>
<a href="/classes/new">Add New Class</a>
